*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Keystore files
*.jks
/keystore.properties
private_key.pepk

# GOOGLE_PLAY_JSON
/app/qrbarcode-8b0b8-aaefa03b2374.json